<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>vue.js v-for</title>
    <link rel="stylesheet" href="./css/style.min.css">
  </head>
  <body>
    <div id="app">
      <header id="header">
        <ul id="menu">
          <!-- 실습
          v-for를 사용하여 아래 메뉴를 구현하시오.
          ( href와 menu text 데이터는 menuList 변수에서 가져오시오. ) -->
            <li v-for="list in menuList">
              <a v-bind:href="list.ahref">{{list.menu}}</a>
            </li>
          <!-- <li><a href="http://naver.com">company</a></li>
          <li><a href="http://kakao.com">product</a></li>
          <li><a href="http://daum.net">gallery</a></li>
          <li><a href="http://instagram.com">location</a></li> -->
        </ul>
      </header>
      <main>
        <div class="container">
          <!-- {{menuList[0].menu}}{{menuList[0].ahref}}
          {{menuList[1].menu}}{{menuList[1].ahref}}
          {{menuList[2].menu}}{{menuList[2].ahref}}
          {{menuList[3].menu}}{{menuList[3].ahref}} -->
        </div>
      </main>
      <footer id="footer">
        <div class="inner">
          <h3><a href="#">logo</a></h3>
          <ul id="f-menu">
            <!-- 실습
            footer 메뉴의 데이터를 생성하고 해당 데이터를
            v-for를 사용하여 아래 메뉴를 구현하시오.
            ( href와 menu text 데이터는 fMenuList 변수에서 가져오시오. ) -->
            <li v-for="fList in fMenuList">
              <a v-bind:href="fList.ahref">{{fList.fMenu}}</a>
            </li>

            <!-- <li><a v-bind:href="menuList[0].ahref">menuList[0].menu</a></li> -->
            <!-- <li><a href="http://naver.com">company</a></li>
            <li><a href="http://kakao.com">product</a></li>
            <li><a href="http://daum.net">gallery</a></li>
            <li><a href="http://instagram.com">location</a></li>
            <li><a href="./community/notice.html">notice</a></li>
            <li><a href="./community/faq.html">faq</a></li> -->
          </ul>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          menuList: [
            {menu: "company", ahref: "http://naver.com"},
            {menu: "product", ahref: "http://kakao.com"},
            {menu: "gallery", ahref: "http://daum.net"},
            {menu: "location", ahref: "http://instagram.com"}
          ],
          fMenuList: [
            {fMenu: "company", ahref: "http://naver.com"},
            {fMenu: "product", ahref: "http://kakao.com"},
            {fMenu: "gallery", ahref: "http://daum.net"},
            {fMenu: "location", ahref: "http://instagram.com"},
            {fMenu: "notice", ahref: "./community/notice.html"},
            {fMenu: "faq", ahref: "./community/faq.html"}
          ]
        }
      });
    </script>
  </body>
</html>
