@charset "UTF-8";
* { box-sizing: border-box; margin: 0; padding: 0; }
html,body { height: 100%; }
ul,ol { list-style: none; }
a { color: #666; text-decoration: none; }

#container {
  width: 600px;
  margin: 20px auto;
}

#navi {
  width: 600px;
}

#navi ul li {
  width: 120px;
  float: left;
}

#navi ul li img {
  width: 100%;
  border: 3px solid white;
}

#navi {
  overflow: hidden;
}

#navi .page-wrap { /* .page-wrap 초기 너비 값을 설정 */
  width: 1800px;
}

#navi .page-wrap .page {
  float: left;
}

.navi-wrap {
  position: relative;
}

.navi-wrap .btn-box {
  position: absolute;
  width: 24px;
  height: 48px;
  overflow: hidden;
  top: 50%;
  z-index: 500;
}

.navi-wrap .btn-box img {
  cursor: pointer; /* 마우스 올렸을때 손가락 표시 */
  position: absolute;
  left: 0;
}

.navi-wrap .btn-box:nth-child(2) {
  right: 0;
  transform: translate( 100% , -50%); /* (자신 크기 기준) x축방향으로 자기크기만큼간다, y축 음의 방향으로 자기크기 절반만큼 간다 */
}

.navi-wrap .btn-box:nth-child(1) {
  left: 0;
  transform: translate( -100% , -50% );
}

.navi-wrap .btn-box:nth-child(2) img {
  left: -10px;
}

#main {
  position: relative;
  width: 600px;
  height: 452px;
}

#main img {
  position: absolute;
  width: 100%;
  border: 3px solid white;
}
