@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
}

ul,ol {
  list-style: none;
}

a {
  color: #666666; text-decoration: none;
}

#carousel-wrap {
  position: relative;
  margin: 100px auto;
  width: 620px;
  height: 135px;
  padding: 5px;
  background: url("../img/background.gif");
}

#carousel-prev,#carousel-next {
  position: absolute;
  top: 65px;
  cursor: pointer;
}

#carousel-prev {
  left: -8px;
}

#carousel-next {
  right: -8px;
}

#carousel {  /* 부모영역에 넓이, 높이 값 100%, 부모영역은 #carousel-warp */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #carousel-inner {
  width: 2480px;
} */

#carousel-inner ul.column {
  width: 620px;
  height: 105px;
  padding: 15px 0 15px;
  float: left;
}

#carousel-inner ul.column li {
  float: left;
  margin-right: 10px;
  display: inline-block;
}
